{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<ul style="list-style: none;">
    <div class="row">
        {% for restaurant in restaurants %}
        <li class="col-3 mx-auto my-2">
            <p></p>{{ restaurant.name }} (Moyenne de {{ restaurant.averageRating | number_format(2, ',') }})<br>
            <small>{{ restaurant.description }}</small>
        </li>
        {% endfor %}
    </div>
</ul>
{% endblock %}