{% extends 'base.html.twig' %}

{% block title %}Hello RestaurantController!{% endblock %}

{% block body %}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">review</th>
            <th scope="col">rating</th>
        </tr>
    </thead>
    <tbody>
        {% for restaurant in restaurants %}
        <tr>
            <th scope="row">{{restaurant.id}}</th>
            <td class="row mr-2">{{restaurant.name}}
            <td>
                {% if restaurant.averageRating > 0 %}
                {{restaurant.averageRating}}
                {% else %}
                0
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}